---
import { getCollection } from "astro:content";
import ProductCard from "@/components/shop/ProductCard.astro";
import type { Product } from "@/types/Product";

const products = await getCollection("products")
	.then((items: Product) => items.sort((a: Product, b: Product) => (a.data.order || 0) - (b.data.order || 0)));
---

<section>
	<div
		class="grid grid-cols-1 gap-6 lg:gap-y-24 md:grid-cols-2 lg:grid-cols-3 py-12">
		{
			products.map((product: Product) => (
				<ProductCard
					url={product.slug}
					title={product.data.title}
					subtitle={product.data.subtitle}
					price={product.data.price}
					image={product.data.image}
				/>
			))
		}
	</div>
</section>
